{% extends "layout.html" %}
{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=10) }}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=50) }}
        </p>
        <p>
            {{ form.path.label }}<br>
            {{ form.path(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    Conferences
    <table>
    {% for conference in conferences %}
    <tr><td>{{conference.name}}</td><td>{{conference.url}}</td><td>{{conference.path}}</td></tr>
    {% endfor %}
    </table>
    {{ message }}
    {% for fieldName, errorMessages in form.errors.items() %}
        {% for err in errorMessages %}
            {{ err }}
        {% endfor %}
    {% endfor %}
{% endblock %}