{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="container box box-jacow">

    <h1 class="title">Upload Summary Count</h1>
    {% include "_search.html" ignore missing %}
<table class="table is-bordered is-striped is-fullwidth">
    <thead><tr><th>Upload Name</th><th>Count</th></tr></thead>
    <tbody>
{% for log in logs %}
<tr>
    <td>{{log[0]}}</td>
    <td>{{log[1]}}</td>
</tr>
{% endfor %}
</tbody></table>
</div>
</section>
{% endblock %}