{% extends "layout.html" %}
{% block content %}
<section class="section">
<div class="container box box-jacow">
    <h1 class="title">Login</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
            <label class="label" for="username">{{ form.username.label }}</label>
            <div class="control">
              <input id="username" name="username" class="input" type="text" maxlength="32">
            </div>
            {% for error in form.username.errors %}
            <p class="help is-danger">[{{ error }}]</p>
          {% endfor %}
        </div>
        <div class="field">
            <label class="label" for="password">{{ form.password.label }}</label>
            <div class="control">
              <input id="password" name="password" class="input" type="password" maxlength="32">
            </div>
            {% for error in form.password.errors %}
            <p class="help is-danger">[{{ error }}]</p>
          {% endfor %}
        </div>
        <div class="field">
            <div class="control">
              <label class="checkbox">
                <input id="remember_me" name="remember_me" type="checkbox">
                {{ form.remember_me.label }}
              </label>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <button class="button button-jacow" type="submit" alt="login">Login</button><br/><br/>
            </div>
        </div>
    </form>
    {% if message %}
    <div class="message is-danger">
    <div class="message-header">{{ message }}</div>
  </div>
    {% endif %}
</div>
</section>
{% endblock %}
