{% extends "layout.html" %}
{% block content %}
    <section class="section">
    <div class="container box box-jacow">
        <div class="is-size-3">Logs</div><br/>
    {% for log in logs %}
    <details class="details-jacow">
        <summary class="details-summary-jacow">Log for {{ log.filename }}</summary>
        <table class="table is-bordered">
            <tr>
                <td style="width:5%">{{ log.id }}</td>
                <td style="width:10%">{{ log.filename }}</td>
                <td style="width:10%">{{ log.timestamp.strftime('%d/%m/%Y %H:%M ') }}</td>
                <td style="width:75%">
                {% set report = log.report|display_report %}
                    {% for item, data in report.items() %}
                        {% if item == 'summary' and data is iterable and data is not string %}
                            <table class="table is-bordered">
                            {% for i, d in data.items() %}
                                <tr><td>
                                <details class="details-jacow">
                                <summary class="details-summary-jacow">Details for {{ i }}</summary>
                                    <table><tr><td>{{ d }}</td></tr></table>
                                </details>
                                </td></tr>
                            {% endfor %}
                            </table>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>

        </table>
    </details>
    {%  endfor %}
    </div>
    </section>
{% endblock %}