{% extends "layout.html" %}
{% block content %}
<section class="section">
<div class="container box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
    <h1 class="title">Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="field">
            <label class="label" for="username">{{ form.username.label }}</label>
            <div class="control">
              <input id="username" class="input" type="text" maxlength="32">
            </div>
        </div>
        <div class="field">
            <label class="label" for="password">{{ form.password.label }}</label>
            <div class="control">
              <input id="password" class="input" type="text" maxlength="32">
            </div>
        </div>
        <div class="field">
            <label class="label" for="password2">{{ form.password2.label }}</label>
            <div class="control">
              <input id="password2" class="input" type="text" maxlength="32">
            </div>
        </div>
        <div class="field">
            <div class="control">
            <button class="button" style="background-color:lightblue" type="submit" alt="register">Register</button><br/><br/>
            </div>
        </div>
    </form>
    <p>Login? <a href="{{ url_for('login') }}">Click to Login!</a></p>
</div>
</section>
{% endblock %}