{% extends "layout.html" %}
{% block content %}
    <section class="section">
    <div class="container box box-jacow">
        <div class="is-size-3">Resources</div><br/>
        <div class="list is-hoverable">
          <a href="https://www.jacow.org/Authors/MSWord" class="list-item link-color" style="background-color:#fcfcfc" target="_blank">
            Jacow Word Templates
          </a>
          <a href="https://www.jacow.org/Authors/CSEHelp" class="list-item link-color" style="background-color:#fcfcfc" target="_blank">
            Jacow Author Help
          </a>
        </div>
    </div>
    </section>
{% endblock %}