{% macro add_section(section, args={}) -%}
 <div class="box box-jacow">
 <a name="{{section.anchor }}"></a>
 <a href="#top" class="link-color">Top <i class="fas fa-arrow-circle-up"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
  {% if args['prev'] %}
    <a href="#{{ args['prev'] }}" class="link-color"><i class="fas fa-arrow-circle-left"></i> Prev</a>{% if args['next'] %} | {% endif %}
  {% endif %}

  {% if args['next'] %}
    <a href="#{{ args['next'] }}" class="link-color">Next <i class="fas fa-arrow-circle-right"></i></a>
  {% endif %}
    <h2 class="subtitle" style="padding:10px;background-color:#{{ section.ok|pastel_background_style }}">
        {{ section.ok|tick_cross|safe }}
        {% if args['section_header'] %} {{ args['section_header']|safe }} {% else %}{{ section.title }} {% endif %}
        {% if section.show_total %} ({{ section.details|length }}){% endif %}
        {% if section.help_info %} - <a href="https://www.jacow.org/Authors/{{ section.help_info }}" target="_target">Author Help for {{ section.title }}</a>{%  endif %}
    </h2>
    {% if section.rules or section.extra_rules %}
    <details class="details-jacow">
        <summary class="details-summary-jacow">Rules for {{ section.title }}</summary>
        {% if section.extra_rules %}
            <div class="div-jacow-rules">
                <ul>
                {% for rule in section.extra_rules %}
                    <li>{{ rule|safe }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if section.rules %}
            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Type</th><th>Details</th>
                        {% set rule_list = section.rules|first_value_in_dict %}
                        {% for rule, value in rule_list.items() %}
                            {% if rule not in ['type','styles'] %}
                                <th>{{ get_style_column_header(rule) }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for name, style in section.rules.items() %}
                    <tr>
                      <td>{{ style['type'] }}</td>
                      <td>'{{ style['styles']['jacow'] }}' or equivalent style</td>
                      {% for rule, value in style.items() %}
                         {% if rule not in ['type','styles'] %}
                            <td> {{ value }} </td>
                         {% endif %}
                      {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </details>
    <br/>
    {% endif %}
    {% if 'extra_info' in section %}
    {% set extra_info = section.extra_info %}
    {% if 'title' in extra_info %}
        {% if not (section.show_total and section.details|length == 0) %}
        <details {% if section.ok == false %} open {% endif %} class="details-jacow">
        <summary class="details-summary-jacow">{{ extra_info.title }} for {{ section.title }}</summary>
            {% if extra_info['multi'] %}
                {{ make_table_multi(section.details, extra_info.headers, extra_info.columns, args) }}
            {%  else %}
                {{ make_table(section.details, extra_info.headers, extra_info.columns, args) }}
            {% endif %}
        </details>
        <br/>
        {% endif %}
    {% elif extra_info %}
        {{ extra_info|safe }}
    {% endif %}
    {% endif %}
    {% if section.rules %}
        {% if section.details|length > 0 %}
            <details {% if section.ok == false %} open {% endif %} class="details-jacow">
                <summary class="details-summary-jacow">Style Breakdown for {{ section.title }}</summary>
                {% if args['style_multi'] %}
                    {{ make_table_multi(section.details, false, false, args, section.rules) }}
                {% else %}
                    {{ make_table(section.details, false, false, args, section.rules) }}
                {% endif %}
            </details>
        {% else %}
            <div style="width:100%">
                <div style="text-align:center;padding:5px;background-color:#{{ False|pastel_background_style }}">
                    No {{ section.title }} found. Please check formatting if there should be some.
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{%- endmacro %}

{% macro get_style_column_header(column) -%}
    {% set cols = {
        'alignment':'Alignment',
        'font_size':'Font Size',
        'all_caps':'All Caps',
        'case':'Case',
        'bold':'Bold',
        'italic':'Italic',
        'space_before':'Space Before',
        'space_after':'Space After',
        'first_line_indent':'First Line Indent',
        'hanging_indent':'Hanging Indent',
    } %}
    {% if column in cols %}
        {{ cols[column] }}
    {% endif %}
{%- endmacro %}

{% macro make_table_header(rules, header=False) -%}
    {% if rules %}
        <thead>
            <tr>
                <th rowspan="2" width="25%" style="text-align:center">Text</th>
                <th colspan="9" width="75%" style="text-align:center">Style</th>
            </tr>
            <tr>
                <th width="20%">Text Style Name</th>
                {% set rule_list = rules|first_value_in_dict %}
                {% for rule, value in rule_list.items() %}
                    {% if rule not in ['type','styles'] %}
                        <th>{{ get_style_column_header(rule) }}</th>
                    {% endif %}
                {% endfor %}
                <th>Ok</th>
            </tr>
        </thead>
    {% elif header %}
        {{ header|safe }}
    {%  endif %}
{%- endmacro %}

{% macro make_table(data, headers, columns, args={}, rules=false) -%}
    <table class="table is-bordered is-fullwidth">
        {{ make_table_header(rules, headers) }}
        <tbody>
        {% for row in data %}
            {{ make_table_row(loop.index, row, columns, args, rules) }}
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% macro make_table_multi(data, headers, columns, args={}, rules=false) -%}
    <table class="table is-bordered is-fullwidth">
        {{ make_table_header(rules, headers) }}
        <tbody>
        {% for id, id_row in data.items() %}
            {% for row in id_row %}
                {{ make_table_row(id, row, columns, args, rules) }}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% macro make_table_row(id, row, columns, args, rules=false) -%}
    <tr>
    {% if rules %}
         {% set rule_list = rules|first_value_in_dict %}
         {{ make_cell('text', row['text'], loop, args) }}
         {{ make_cell('style', row['style'], loop, args) }}
         {% for rule, value in rule_list.items() %}
             {% if rule not in ['type','styles'] %}
                 {% set value = row[rule] %}
                 {{ make_cell(rule, value, loop, args) }}
             {% endif %}
        {% endfor %}
        {{ make_cell('style_ok', row['style_ok'], loop, args) }}
    {% else %}
        {% for col in columns %}
            {% set value = row[col] %}
            {% if col == 'id' %}
                {% set value = id %}
            {% endif %}
            {{ make_cell(col, value, loop, args) }}
        {% endfor %}
    {% endif %}
    </tr>
{%- endmacro %}

{% macro make_cell(col, value, loop, args) -%}
    {% if col == 'loop.index' %}
        <td>{{ loop.index }}</td>
    {% elif col == 'in_table' %}
        <td>{{ value|safe }}</td>
    {% elif col == 'text' %}
        <td title="{{ value }}">{% if args['truncate_text'] %}{{ value|truncate(args['truncate_text']) }} {% else %} {{ value }} {% endif %}</td>
    {% elif '_ok' in col|string  %}
        <td style="background-color:#{{ value|pastel_background_style }}"> {{ value|tick_cross|safe  }}</td>
    {% elif value is iterable and value is not string %}
        <td>
            <ul class="list-jacow">
            {% for item in value %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </td>
    {% else %}
        <td {% if 'should be' in value|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ value }}</td>
    {% endif %}
{%- endmacro %}
