{% extends "layout.html" %}
{% block content %}
<section class="section">
    <details style="border:1px lightgray solid;border-radius:2px">
        <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">Count</summary>
    <h1 class="title">Upload Summary Count</h1>
<table class="table is-bordered is-striped is-fullwidth">
    <thead><tr><th>Upload Name</th><th>Count</th></tr></thead>
    <tbody>
{% for log in countLogs %}
<tr>
    <td>{{log[0]}}</td>
    <td>{{log[1]}}</td>
</tr>
{% endfor %}
</tbody></table>
</details>
<details style="border:1px lightgray solid;border-radius:2px">
    <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">All Records</summary>
<h1 class="title">Upload Summary List</h1>
<table class="table is-bordered is-striped is-fullwidth">
<thead><tr><th>Date</th><th>Upload Name</th><th>Conference</th><th>By</th><th>Status</th></tr></thead>
<tbody>
{% for log in logs %}
<tr>
<td>{{log.timestamp.strftime('%d/%m/%Y %H:%M ')}}</td>
<td>{{log.filename}}</td>
<td>{% if log.conference %}{{log.conference.short_name}}{% endif %}</td>
<td>{% if log.app_user %}{{log.app_user.username}}{% endif %}</td>
<td>{{log.status}}</td>
</tr>
{% endfor %}
</tbody></table>
</details>
</section>
{% endblock %}