#skiptocontent a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 8px;
    background: transparent;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}
#skiptocontent a:focus {
    position:absolute;
    left:0px;
    top:0px;
    background:#BF1722;
    outline:0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}
a:focus {
    outline: #000000 dotted thin;
}
a.link-color {
    color:#0e01fe;
}
a.link-color:hover {
    color:#000000;
}
.file-label:focus-within {
    outline: #000000 dotted thin;
}
label.file-label:hover {
    outline: #cccccc dotted thin;
}
a.navbar-item.is-active {
    background-color:#ffffff;
}
a.navbar-item.is-active:not(:hover) {
    background-color:#ffffff;
}
.nav-jacow {
    background-image: linear-gradient(to right, lightblue , white);
    padding:3px;
    border-bottom:1px blue solid;
}
.box-jacow {
    box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1);
}
.nav-item-jacow {
    padding-left:10px;
    padding-right:10px;
    margin-left:30px;
}
.dropdown-jacow {
    padding-top:8px;
    padding-left:10px;
    padding-right:10px;
    margin-left:30px;
}
.footer-item-jacow {
    vertical-align:middle;
}
.button-jacow {
    background-color:lightblue;
}
.divider-jacow {
    border: 5px solid lightblue;
    border-radius: 2px;
}
.details-summary-jacow {
    padding:5px;
    border: 1px solid grey;
    border-radius:2px;
    background-color:#fcfcfc;
}
.details-jacow {
    border:1px lightgray solid;
    border-radius:2px'
}
.div-jacow-rules {
    padding-left:20px;
}
.list-jacow {
    list-style-type: circle;
    padding-left: 5px
}
.subtitle-jacow {
    padding:10px;
}
.background-jacow-tick {
    background-color: #DDFFDD !important;
}
.background-jacow-question {
    background-color: #FFEDCC !important;
}
.background-jacow-cross {
    background-color: #FFDDDD !important;
}
.background-dark-tick {
    color: darkgreen;
}
.background-dark-question {
    color: darkorange;
}
.background-dark-cross {
    color: darkred;
}
.jacow-not-found {
    text-align:center;
    padding:5px;
}
.jacow-help-link {
    text-align:center;
    font-size:14pt;
}
.error-heading-jacow {
    background-color: #FFDDDD !important;
    text-align:center;
    font-size:14pt;
    padding:10px;
}
