    <div class="container">
    {% if filename %}
        <h1 class="title">Report for {{ filename }}</h1>
    {% endif %}

    {% import "section_macro.html" as section_helper %}
    <div class="container box {{ 2|pastel_background_style }} jacow-help-link">
        <a href="https://www.jacow.org/Authors/CSEHelp" title="Author Help" target="_blank">Link to DOCX Cat Scan Editor - Help and Usage Guidelines</a>
    </div>

    <div class="container box box-jacow">
        <h2 class="subtitle">Summary</h2>
        <div class="list is-hoverable">
        <table class="table is-fullwidth">
            <tr>
                <th>Section</th>

                <th class="background-jacow-tick">Correct</th>
                <th class="background-jacow-question">Concerns</th>
                <th class="background-jacow-cross">Issues</th>
            </tr>
        {% for section_name, score in scores.items() %}
            <tr>
            <td>
                <a href="#{{ section_name|lower }}">
                {{ section_name|title }}
                </a>
            </td>
            <td class="{{ "positive"|score_background_style(score[2] == 0 and score[1] == 0 and score[0] != 0) }}">{{ score[0] }}</td>
            <td class="{{ "unknown"|score_background_style(score[1] > 0) }}">{{ score[1] }}</td>
            <td class="{{ "negative"|score_background_style(score[2] > 0) }}">{{ score[2] }}</td>
            </tr>
        {% endfor %}
        </table>
{#        {% for i, item in summary.items() %}#}
{#           <a href="#{{ item.anchor }}" class="list-item link-color {{ item.ok|pastel_background_style }}">#}
{#            {{ item.ok|tick_cross|safe }} {{ item.title }} {% if item.show_total %} ({{ item.details|length }}){% endif %}#}
{#               {% if item.ok == False %} - {{ item.message }}{% endif %}#}
{#           </a>#}
{#        {% endfor %}#}
        </div>
    </div>

    {% if metadata %}
    <div class="box box-jacow">
        <h2 class="subtitle"><a id="meta"></a>Word Document loaded successfully</h2>
        <p>Author: {{ metadata.author }}</p>
        <p>Internal Revision: {{ metadata.revision }}</p>
        <p>Created at (UTC): {{ metadata.created }}</p>
        <p>Modified at (UTC): {{ metadata.modified }}</p>
        {% if metadata.version %}
            <p>Version: {{ metadata.version }}</p>
        {% endif %}
        {% if metadata.language %}
            <p>Language: {{ metadata.language }}</p>
        {% endif %}
    </div>
    {% endif %}

    <p><button class="button button-jacow" onclick="js:closeDetails()">Close All Expanded Sections Below </button><br/><br/></p>
    {% for index, section in summary.items() %}
        {% set prev = loop.previtem[1].anchor if loop.previtem else '' %}
        {% set next = loop.nextitem[1].anchor if loop.nextitem else '' %}

        {% if index == 'Paragraphs' %}
            {{ section_helper.add_section(summary[index], {'truncate_text':200, 'prev':prev, 'next':next}) }}
        {% elif index == 'References' %}
            {{ section_helper.add_section(summary[index], {'truncate_text':50, 'prev':prev, 'next':next}) }}
        {% elif index == 'Figures' %}
            {{ section_helper.add_section(summary[index], {'style_multi':true, 'prev':prev, 'next':next}) }}
        {% elif index == 'Abstract Submission' %}
            {% if reference_csv_url is defined %}
                {% set title = 'Conformance with <a href=' + reference_csv_url + '>references.csv</a>' %}
            {% else %}
               {% set title = 'Conformance with Abstract Submission' %}
            {% endif %}
            {{ section_helper.add_section(summary[index], {'section_header':title, 'prev':prev, 'next':mext}) }}
        {% else %}
            {{ section_helper.add_section(summary[index], {'prev':prev, 'next':next}) }}
        {% endif %}
    {% endfor %}
    </div>

